{% extends 'app/base.html' %}

{% block content %}

<h1>結果</h1>
<table>
  <tr>
    <td>プレイヤー1</td>
    <td>{{ player1_mochiten }}</td>
  </tr>
  <tr>
    <td>プレイヤー2</td>
    <td>{{ player2_mochiten }}</td>
  </tr>
</table>

<p>終了しました。</p>
<form action="{% url 'app:index' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="timelimit" value="{{ timelimit }}">
<input type="hidden" name="player_1_ip" value="{{ player_1_ip }}">
<input type="hidden" name="player_2_ip" value="{{ player_2_ip }}">
<input type="hidden" name="dronecontroler_ip" value="{{ dronecontroler_ip }}">
<input type="hidden" name="dronecontroler_port" value="{{ dronecontroler_port }}">
<button type="submit">TOPに戻る</button>
</form>
{% endblock %}