{% extends 'pulldrone/base.html' %}

{% block content %}

<p>終了しました。</p>
<form action="{% url 'pulldrone:index' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="timelimit" value="{{ timelimit }}">
<input type="hidden" name="player_1_ip" value="{{ player_1_ip }}">
<input type="hidden" name="player_2_ip" value="{{ player_2_ip }}">
<input type="hidden" name="dronecontroler_ip" value="{{ dronecontroler_ip }}">
<input type="hidden" name="dronecontroler_port" value="{{ dronecontroler_port }}">
<button type="submit">TOPに戻る</button>
</form>
{% endblock %}